.backend {
  border: 1px solid orchid;
  text-align: end;
  width: 50%;
  height: 50vh;
}

.node {
  border: 1px solid mediumslateblue;
}

.aws {
  border: 1px solid mediumspringgreen;
}

.continues_integration {
  border: 1px solid firebrick;
}